# Day 7: Celebrity Product Drops Sales Performance Analysis

You are a Product Analyst working on Nike's marketing performance team. Your team wants to evaluate the effectiveness of celebrity product collaborations by analyzing sales data. You will investigate the performance of celebrity product drops to inform future marketing strategies.

In [ ]:
import pandas as pd
import numpy as np

fct_sales_data = [
  {
    "sale_id": 1,
    "sale_date": "2025-01-10",
    "product_id": 901,
    "sale_amount": null,
    "celebrity_id": 101
  },
  {
    "sale_id": 2,
    "sale_date": "2025-01-15",
    "product_id": 901,
    "sale_amount": 1500,
    "celebrity_id": 101
  },
  {
    "sale_id": 3,
    "sale_date": "2025-02-03",
    "product_id": 902,
    "sale_amount": 2000.5,
    "celebrity_id": 102
  },
  {
    "sale_id": 4,
    "sale_date": "2025-03-12",
    "product_id": 903,
    "sale_amount": 2500.75,
    "celebrity_id": 103
  },
  {
    "sale_id": 5,
    "sale_date": "2025-03-20",
    "product_id": 904,
    "sale_amount": null,
    "celebrity_id": 104
  },
  {
    "sale_id": 6,
    "sale_date": "2025-02-28",
    "product_id": 901,
    "sale_amount": 1000,
    "celebrity_id": 101
  },
  {
    "sale_id": 7,
    "sale_date": "2025-03-25",
    "product_id": 902,
    "sale_amount": 300,
    "celebrity_id": 102
  },
  {
    "sale_id": 8,
    "sale_date": "2025-03-30",
    "product_id": 905,
    "sale_amount": 1800,
    "celebrity_id": 105
  },
  {
    "sale_id": 9,
    "sale_date": "2025-01-20",
    "product_id": 903,
    "sale_amount": 1200,
    "celebrity_id": 103
  },
  {
    "sale_id": 10,
    "sale_date": "2025-02-05",
    "product_id": 906,
    "sale_amount": 500,
    "celebrity_id": 106
  },
  {
    "sale_id": 11,
    "sale_date": "2025-03-01",
    "product_id": 907,
    "sale_amount": 2200,
    "celebrity_id": 107
  },
  {
    "sale_id": 12,
    "sale_date": "2025-02-15",
    "product_id": 908,
    "sale_amount": 1300,
    "celebrity_id": 101
  },
  {
    "sale_id": 13,
    "sale_date": "2025-03-15",
    "product_id": 909,
    "sale_amount": null,
    "celebrity_id": 102
  },
  {
    "sale_id": 14,
    "sale_date": "2025-01-25",
    "product_id": 910,
    "sale_amount": 900,
    "celebrity_id": 108
  },
  {
    "sale_id": 15,
    "sale_date": "2025-02-20",
    "product_id": 905,
    "sale_amount": 700,
    "celebrity_id": 105
  },
  {
    "sale_id": 16,
    "sale_date": "2025-03-28",
    "product_id": 902,
    "sale_amount": 1500,
    "celebrity_id": 102
  },
  {
    "sale_id": 17,
    "sale_date": "2024-11-15",
    "product_id": 901,
    "sale_amount": 800,
    "celebrity_id": 101
  },
  {
    "sale_id": 18,
    "sale_date": "2024-07-30",
    "product_id": 902,
    "sale_amount": 1000,
    "celebrity_id": 102
  },
  {
    "sale_id": 19,
    "sale_date": "2025-04-10",
    "product_id": 905,
    "sale_amount": 2000,
    "celebrity_id": 105
  },
  {
    "sale_id": 20,
    "sale_date": "2024-09-05",
    "product_id": 903,
    "sale_amount": 1100,
    "celebrity_id": 103
  }
]
fct_sales = pd.DataFrame(fct_sales_data)

## Question 1

For Q1 2025 (January 1st through March 31st, 2025), can you identify all records of celebrity collaborations from the sales data where the sale_amount is missing? This will help us flag incomplete records that could impact the analysis of Nike's product performance.

In [ ]:
import pandas as pd
from io import StringIO

# Simulated CSV data as a string
data = StringIO("""
sale_id,sale_date,product_id,sale_amount,celebrity_id
1,2025-01-10,901,,101
2,2025-01-15,901,1500,101
3,2025-02-03,902,2000.5,102
4,2025-03-12,903,2500.75,103
5,2025-03-20,904,,104
6,2025-02-28,901,1000,101
7,2025-03-25,902,300,102
8,2025-03-30,905,1800,105
9,2025-01-20,903,1200,103
10,2025-02-05,906,500,106
11,2025-03-01,907,2200,107
12,2025-02-15,908,1300,101
13,2025-03-15,909,,102
14,2025-01-25,910,900,108
15,2025-02-20,905,700,105
16,2025-03-28,902,1500,102
17,2024-11-15,901,800,101
18,2024-07-30,902,1000,102
19,2025-04-10,905,2000,105
20,2024-09-05,903,1100,103
""")

# Create DataFrame
df = pd.read_csv(data, parse_dates=['sale_date'])

# Filter for Q1 2025 and missing sale_amount
q1_start = pd.Timestamp('2025-01-01')
q1_end = pd.Timestamp('2025-03-31')

incomplete_records = df[
    (df['sale_date'] >= q1_start) &
    (df['sale_date'] <= q1_end) &
    (df['sale_amount'].isna())
]

# Display the result
print(incomplete_records)

## Question 2

For Q1 2025 (January 1st through March 31st, 2025), can you list the unique combinations of celebrity_id and product_id from the sales table? This will ensure that each collaboration is accurately accounted for in the analysis of Nike's marketing performance.

In [ ]:
import pandas as pd
from io import StringIO

# Reuse the CSV-style string for data
data = StringIO("""
sale_id,sale_date,product_id,sale_amount,celebrity_id
1,2025-01-10,901,,101
2,2025-01-15,901,1500,101
3,2025-02-03,902,2000.5,102
4,2025-03-12,903,2500.75,103
5,2025-03-20,904,,104
6,2025-02-28,901,1000,101
7,2025-03-25,902,300,102
8,2025-03-30,905,1800,105
9,2025-01-20,903,1200,103
10,2025-02-05,906,500,106
11,2025-03-01,907,2200,107
12,2025-02-15,908,1300,101
13,2025-03-15,909,,102
14,2025-01-25,910,900,108
15,2025-02-20,905,700,105
16,2025-03-28,902,1500,102
17,2024-11-15,901,800,101
18,2024-07-30,902,1000,102
19,2025-04-10,905,2000,105
20,2024-09-05,903,1100,103
""")

# Load into DataFrame
df = pd.read_csv(data, parse_dates=['sale_date'])

# Filter for Q1 2025
q1_2025 = df[
    (df['sale_date'] >= '2025-01-01') &
    (df['sale_date'] <= '2025-03-31')
]

# Get unique (celebrity_id, product_id) combinations
unique_collabs = q1_2025[['celebrity_id', 'product_id']].drop_duplicates()

# Display result
print(unique_collabs.sort_values(by=['celebrity_id', 'product_id']))

## Question 3

For Q1 2025 (January 1st through March 31st, 2025), can you rank the unique celebrity collaborations based on their total sales amounts and list the top 3 collaborations in descending order? This will help recommend the most successful partnerships for Nike's future product drop strategies.

In [ ]:
import pandas as pd
from io import StringIO

# Load the dataset
data = StringIO("""
sale_id,sale_date,product_id,sale_amount,celebrity_id
1,2025-01-10,901,,101
2,2025-01-15,901,1500,101
3,2025-02-03,902,2000.5,102
4,2025-03-12,903,2500.75,103
5,2025-03-20,904,,104
6,2025-02-28,901,1000,101
7,2025-03-25,902,300,102
8,2025-03-30,905,1800,105
9,2025-01-20,903,1200,103
10,2025-02-05,906,500,106
11,2025-03-01,907,2200,107
12,2025-02-15,908,1300,101
13,2025-03-15,909,,102
14,2025-01-25,910,900,108
15,2025-02-20,905,700,105
16,2025-03-28,902,1500,102
17,2024-11-15,901,800,101
18,2024-07-30,902,1000,102
19,2025-04-10,905,2000,105
20,2024-09-05,903,1100,103
""")

df = pd.read_csv(data, parse_dates=['sale_date'])

# Filter for Q1 2025 with valid sale_amount
q1_data = df[
    (df['sale_date'] >= '2025-01-01') &
    (df['sale_date'] <= '2025-03-31') &
    (df['sale_amount'].notna())
]

# Group by (celebrity_id, product_id) and sum sale_amount
collab_sales = q1_data.groupby(['celebrity_id', 'product_id'])['sale_amount'].sum().reset_index()

# Sort by total sale_amount descending and pick top 3
top_3_collabs = collab_sales.sort_values(by='sale_amount', ascending=False).head(3)

# Display result
print(top_3_collabs)

Made with ❤️ by [Interview Master](https://www.interviewmaster.ai)